<table>
  <thead>
    <tr>
      <th>Статус</th>
      <th>Краткое описание</th>
      <th>Дата и время создания</th>
      <th>Дата и время выполнения</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let reminder of reminders" (dblclick)="openReminderForm(reminder)">
        <td>{{ reminder.status }}</td>
        <td>{{ reminder.shortDescription }}</td>
        <td>{{ reminder.creationDateTime | date:'dd/MM/yyyy HH:mm'}}</td>
        <td>{{ reminder.completionDateTime | date:'dd/MM/yyyy HH:mm'}}</td>
      </tr>
  </tbody>
</table>