form {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.row > div {
  flex-grow: 1;
  margin-right: 10px;
}

.full-width {
  flex-basis: 100%;
}

label {
  display: block;
  font-weight: bold;
}

select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  margin-top: 5px;
  min-height: 35px;
  max-height: 35px; /* Ограничиваем высоту, чтобы соответствовать другим элементам формы */
  background-color: #fff; /* Фоновый цвет */
  font-size: 14px; /* Размер шрифта */
}

select:hover,
select:focus {
  border-color: #666; /* Цвет рамки при наведении и фокусе */
}

option {
  background-color: #fff; /* Фоновый цвет опций */
  color: #333; /* Цвет текста опций */
}

option:hover {
  background-color: #f0f0f0; /* Фоновый цвет при наведении на опцию */
}

input[type="text"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  margin-top: 5px;
  min-height: 35px;
  max-height: 200px;
  resize: vertical;
  overflow-y: auto;
}

button {
  padding: 10px 20px;
  background-color: #c1c1c1;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.back-button {
  margin-left: 20px;
}

button:hover {
  background-color: #ababab;
}
