<form>
  <div>
    <label>Дата и время создания:</label>
    <input type="text" [(ngModel)]="reminder.creationDateTime" name="creationDateTime">
  </div>
  <div>
    <label>Дата и время выполнения:</label>
    <input type="text" [(ngModel)]="reminder.completionDateTime" name="completionDateTime">
  </div>
  <div>
    <label>Статус:</label>
    <input type="text" [(ngModel)]="reminder.status" name="status">
  </div>
  <div>
    <label>Краткое описание:</label>
    <input type="text" [(ngModel)]="reminder.shortDescription" name="shortDescription">
  </div>
  <div>
    <label>Полное описание:</label>
    <textarea [(ngModel)]="reminder.fullDescription" name="fullDescription"></textarea>
  </div>
  <button (click)="saveChanges()">Сохранить</button>
  <button (click)="goBack()">Назад</button>
</form>
